[submodule "async-profiler"]
	path = third_party/async-profiler
	url = https://github.com/timurbey/async-profiler.git
[submodule "experiments/tensorflow"]
	path = experiments/third_party/tensorflow
	url = https://github.com/timurbey/tensorflow.git
	branch = jni-unstripped
[submodule "python/experiments/bert/third_party/bert"]
	path = python/experiments/bert/third_party/bert
	url = https://github.com/atpoverload/bert.git
