[submodule "async-profiler"]
	path = third_party/async-profiler
	url = https://github.com/timurbey/async-profiler.git
[submodule "python/experiments/bert/third_party/bert"]
	path = python/experiments/bert/third_party/bert
	url = https://github.com/atpoverload/bert.git
